@import '../variables/index';
@import '../minxins/index';

@include class (button) {
    display: inline-block;
    height: $button-height;
    font-size: $font-size-base;
    box-sizing: border-box;
    padding: 0 15px;
    background: $button-default-fill;
    color: $button-default-color;
    border: 1px solid $button-default-border-color;
    border-radius: $border-radius;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    i[class*=sim-icon] {
        font-size: 14px;
        vertical-align: middle;
        & + span {
            margin-left: 4px;
        }
    }
    span {
        vertical-align: middle;
    }
    &:focus,
    &:hover {
        color: $blue-dark-1;
        border-color: $blue-light-1;
        background-color: $blue-light-5;
    }
    @include button-color(primary, $white, $primary);
    @include button-color(success, $white, $success);
    @include button-color(warning, $white, $warning);
    @include button-color(danger, $white, $danger);

    @include button-size(mini, $button-height-mini, false, $button-mini-padding);
    @include button-size(small, $button-height-small, false, $button-small-padding);
    @include button-size(big, $button-height-big, $font-size-2);
}