@import "../variables/index";
@import "../minxins/index";

@include b(modal) {
  position: relative;
  margin: 0 auto;
  background: $white;
  border-radius: $border-radius;
  min-height: 30px;

  @include e(dimmer) {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    margin: 0;
    background-color: $modal-dimmer-background;
  }
}
