@import '../variables/index';
@import '../minxins/index';
@import '../extends/index';
$transtion: transform 0.2s ease-in-out;
@include b(select) {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: $font-size-base;
    .sim-input__input,
    .sim-select__arrow {
        cursor: pointer;
        transition: $transtion;
        font-size: inherit;
    }
    .sim-input {
        width: inherit;
    }
    .sim-input__icon {
        cursor: pointer;
    }
    @include m(show) {
        .sim-select__arrow {
            transform: rotate(180deg);
        }
    }

    @include m(clear) {
        .sim-select__clear {
            display: none;
        }
        & .sim-input:hover {
            .sim-select__arrow {
                display: none;
            }
            .sim-select__clear {
                display: inline-block;
            }
        }
    }

    @include e(dropdown) {
        position: absolute;
        width: 100%;
        max-height: 200px;
        overflow: auto;
        margin-top: 5px;
        border: 1px solid $boder-default-color;
        background-color: $background-default-color;
        box-sizing: border-box;
        border-radius: $border-radius;
        box-shadow: $select-box-shadow;
        z-index: 9;
    }
    @include e(list) {
        list-style: none;
    }
    @include e(option) {
        padding: 7px 16px;
        clear: both;
        color: $font-default-color;
        white-space: nowrap;
        cursor: pointer;
        transition: $transtion;
        &:hover {
            background: mix($primary, $background-default-color, 8%);
        }
        &[disabled] {
            &,
            &:hover,
            &:focus {
                cursor: not-allowed;
                color: $font-disabled-color;
                background: none;
            }
        }
        @include m(selected) {
            background: mix($primary, $background-default-color, 8%);
            color: $primary;
        }
    }
}
