// 颜色
$white: #fff !default;

$black: #000 !default;

$gray: #c5c8ce !default;
$gray1: #515a6e !default;
$gray2: #dcdee2 !default;

$blue: #1e90ff !default;
$green: #21ba45 !default;
$orage: #ff7f50 !default;
$red: #ee2c2c !default;

$primary: $blue;
$primary-light-1: lighten($primary, 10%) !default;
$primary-light-2: lighten($primary, 20%) !default;
$primary-light-3: lighten($primary, 30%) !default;
$primary-light-4: lighten($primary, 40%) !default;
$primary-light-5: lighten($primary, 50%) !default;
$primary-dark-1: darken($primary, 10%) !default;
$success: $green;
$warning: $orage;
$danger: $red;
$disabled: $gray;

$font-disabled-color: $disabled;
$background-disabled-color: lighten($disabled, 15%);
$boder-disabled-color: lighten($disabled, 10%);

$font-default-color: $gray1;
$boder-default-color: $gray2;
$background-default-color: $white;

$button-default-color: $gray1;
$button-default-fill: $white;
$button-default-border-color: $gray2;
$button-disabled-color: $gray;

$placeholder-color: $gray;
$hover-border: $primary-light-3;
$focus-border: $primary-light-1;
/* ---------------------------------- Modal --------------------------------- */
$modal-dimmer-background: rgba(0, 0, 0, 0.85);
$modal-footer-background: #f9fafb;
