// font
$font-size-base: 12px;
$font-size-1: $font-size-base;
$font-size-2: $font-size-base + 2px;

// padding
$padding-base: 15px;
$button-mini-padding: 5px;
$button-small-padding: 10px;

// height
$height-interval: 4px;
$height-base: 32px;
$button-height: $height-base;
$button-height-small: $button-height - $height-interval;
$button-height-mini: $button-height-small - $height-interval;
$button-height-big: $button-height + $height-interval * 1.5;
$form-elem-height: $height-base;

// border
$border: 1px solid rgba(34, 36, 38, 0.15);

// border-radius
$border-radius: 4px;

// box-shadown
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
$select-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);

/* ---------------------------------- modal --------------------------------- */
$modal-padding-horizontal: 20px;
$modal-padding-vertical: 15px;
$modal-padding-header: $modal-padding-vertical $modal-padding-horizontal;
$modal-padding-content: $modal-padding-horizontal;
$modal-padding-footer: $modal-padding-vertical $modal-padding-horizontal;
$modal-header-font-size: 18px;
$modal-header-font-weight: 700;
$modal-box-shadow: 0 2px 11px 3px rgba(0, 0, 0, 0.3);

$modal-width-mini: 360px;
$modal-width-small: 500px;
$modal-width-normal: 700px;
$modal-width-big: 1000px;
$modal-width-full: 90%;
