@import '../variables/nameSpace';

@mixin class ($block) {
  $B: $prefix-name + '-' + $block !global;
  .#{$B} {
    @content;
  }
}

// button
@mixin button-color ($name, $color, $bgColor) {
    $sel: & + '--' + $name;
    @at-root #{$sel} {
        background: $bgColor;
        color: $color;
        border: none;
        &:focus,
        &:hover {
            color: $color;
            background-color: mix($color, $bgColor, 20%);
        }
        i[class*=sim-icon] {
            color: #fff;
        }
    }
}

@mixin button-size ($name, $height, $fontSize: false, $padding:false) {
    $sel: & + '--' + $name;
    @at-root #{$sel} {
        height: $height;
        @if $padding {
            padding: 0 $padding;
        }
        @if $fontSize {
            font-size: $fontSize;
        }
    }
}