@import '../variables/nameSpace';
@import '../variables/index';
/* ========================================================================== */
/*                                    common                                  */
/* ========================================================================== */
@mixin disabled {
    color: $font-disabled-color;
    background-color: $background-disabled-color;
    cursor: not-allowed;
    border-color: $boder-disabled-color;
}

@mixin set-size($name, $height, $fontSize: false, $padding: false) {
    $sel: & + '--' + $name;

    @at-root #{$sel} {
        height: $height;

        @if $padding {
            padding: 0 $padding;
        }

        @if $fontSize {
            font-size: $fontSize;
        }
    }
}

/* ========================================================================== */
/*                                     BEM                                    */
/* ========================================================================== */

@mixin b($block) {
    $B: $prefix-name + '-' + $block !global;

    .#{$B} {
        @content;
    }
}

@mixin e($element) {
    $E: $element !global;
    $selector: &;
    $currentSelector: '';

    @each $unit in $element {
        $currentSelector: #{$currentSelector + '.' + $B + $element-separator + $unit + ','};
    }

    @at-root {
        #{$currentSelector} {
            @content;
        }
    }
}

@mixin m($modifier) {
    $selector: &;
    $currentSelector: '';

    @each $unit in $modifier {
        $currentSelector: #{$currentSelector + & + $modifier-separator + $unit + ','};
    }

    @at-root {
        #{$currentSelector} {
            @content;
        }
    }
}

/* ========================================================================== */
/*                                   BUTTON                                   */
/* ========================================================================== */

@mixin button-color($name, $color, $bgColor) {
    $sel: & + '--' + $name;
    $hoverColor: mix($color, $bgColor, 15%);
    $disableColor: mix($color, $bgColor, 50%);

    @at-root #{$sel} {
        background: $bgColor;
        color: $color;
        border-color: $bgColor;

        &:focus,
        &:hover {
            color: $color;
            background-color: $hoverColor;
            border-color: $hoverColor;
        }

        &[disabled] {
            &,
            &:hover,
            &:focus {
                color: $color;
                background-color: $disableColor;
                border-color: $disableColor;
                cursor: not-allowed;
            }
        }
    }
}

/* ========================================================================== */
/*                                    MODAL                                   */
/* ========================================================================== */

@mixin modal-size($name, $width) {
    $sel: & + '--' + $name;

    @at-root #{$sel} {
        width: $width;
    }
}

/* ========================================================================== */
/*                                    PROGRESS                                   */
/* ========================================================================== */

@mixin progress-size($name, $height) {
    $sel: & + '--' + $name;

    @at-root #{$sel} {
        height: $height;
        line-height: $height;
        font-size: $height;
    }
}

/* ========================================================================== */
/*                                   Tag                                   */
/* ========================================================================== */

@mixin tag-color($name, $color, $bgColor) {
    $sel: & + '--' + $name;

    @at-root #{$sel} {
        background: $bgColor;
        color: $color;
        border-color: $bgColor;
    }
}
